node_modules
dist
.tmp
.sass-cache
app/bower_components
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/c3/d04ae05406f100131676d99a01c22ca1
.metadata/.plugins/org.eclipse.core.resources/.projects/Appgim/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Appgim/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Appgim/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Appgim/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Appgim/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/1115467115.index
.metadata/.plugins/org.eclipse.jdt.core/1299022128.index
.metadata/.plugins/org.eclipse.jdt.core/1498219845.index
.metadata/.plugins/org.eclipse.jdt.core/163172794.index
.metadata/.plugins/org.eclipse.jdt.core/1697886153.index
.metadata/.plugins/org.eclipse.jdt.core/1995173708.index
.metadata/.plugins/org.eclipse.jdt.core/305854171.index
.metadata/.plugins/org.eclipse.jdt.core/3065916431.index
.metadata/.plugins/org.eclipse.jdt.core/30765161.index
.metadata/.plugins/org.eclipse.jdt.core/3133528496.index
.metadata/.plugins/org.eclipse.jdt.core/3847542153.index
.metadata/.plugins/org.eclipse.jdt.core/3974580528.index
.metadata/.plugins/org.eclipse.jdt.core/4041092966.index
.metadata/.plugins/org.eclipse.jdt.core/4108727661.index
.metadata/.plugins/org.eclipse.jdt.core/4155206848.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
