<!doctype html>
<html ng-app="usuariosApp">
<head>
<meta charset="utf-8">
<title>Gimnasio UdeA</title>
<link rel="shortcut icon" href="../images/icon.png">

<script type="text/javascript" src="../lib/angular/angular.js"></script>
<script type="text/javascript" src="../lib/jquery-1.9.1.js"></script>
<script type="text/javascript" src="../lib/ng-grid-2.0.11.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap/js/bootstrap.js"></script>

<script type="text/javascript" src="../scripts/controllers/usuarios.js"></script>

<link rel="stylesheet" type="text/css" href="../lib/ng-grid.css" />
<link rel="stylesheet" type="text/css" href="../lib/style.css" />
<link rel="stylesheet" type="text/css" href="../lib/bootstrap/css/bootstrap.min.css" />

</head>

<body>

	<div align="center">
		<img src="../images/header.png" alt="Gestor" width="1024" height="232" />
		<p>Bienvenido</p>
	</div>

	<div class="contenedor">
		<p>&nbsp; Lista de Usuarios Gimnasio Universidad de Antioquia:</p>

		<div align="center">
			<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-user"> Registrar</span>
			</button>
			<button type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-trash"> Eliminar</span>
			</button>
			<br> <br>
		</div>

		<div ng-controller="CuadriculaCtrl">
			<div class="gridStyle" ng-grid="usuarios"></div>
		</div>
	</div>

</body>
</html>
